#cloud-config
users:
  - name: alexey
    shell: /bin/bash
    groups: docker
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMqSVXDvPdBOlA2bdW7MHauhCEoxkRZmyx5FuH/s70XO tatarincev0810@gmail.com

package_update: true
runcmd:
  - apt-get install -y git docker.io docker-compose
  - systemctl start docker
  - systemctl enable docker
  - git clone https://github.com/VKCOM/lighthouse.git /opt/lighthouse
  - cp /opt/lighthouse/.env.example /opt/lighthouse/.env
  - sed -i 's|CLICKHOUSE_HOST=.*|CLICKHOUSE_HOST=http://${clickhouse_ip}:8123|' /opt/lighthouse/.env
  - docker-compose -f /opt/lighthouse/docker-compose.yml up -d
